body {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  background-color: #e6e7e8;
}

h1 {
  margin-top: 20px;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
h2 {
  margin-bottom: 45px;
  font-size: 40px;
  font-weight: 700;
}
.memes-editor {
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  gap: 222px;
}
.setting-list {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.setting-list__title {
  margin-bottom: 10px;
  font-size: 35px;
}
.setting-list__select {
  width: 393px;
  height: 54px;
  padding: 12px 21px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #000;
  font-size: 25px;
  outline: none;
  appearance: none;
  background: url(/resources/select.svg) 96%/15% no-repeat;
  background-size: 7%;
}

.preview {
  position: relative;
  width: 570px;
  height: 335px;
}

.top-text,
.bottom-text {
  box-sizing: border-box;
  width: 100%;
  height: 54px;
  padding: 12px 21px;
  border-radius: 15px;
  border: 1px solid #000;
  font-size: 25px;
  background-color: transparent;
}

.img{
  display: block;
  width: 600px;
  height: 600px;
  object-fit: contain;
}

.top-output {
  position: absolute;
  top: 200px;
  left: 150px;
  font-size: 25px;
  color: #fff;
  -webkit-text-stroke: 0.5px #000;
}
.bottom-output {
  position: absolute;
  top: 550px;
  left: 150px;
  font-size: 25px;
  color: #fff;
  -webkit-text-stroke: 0.5px #000;
}

@media (max-width: 767px) {
  h1 {
    margin-bottom: 20px;
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
    text-align: center;
  }
  .memes-editor {
    width: 100%;
    padding: 10px 50px;
    flex-direction: column;
    gap: 50px;
  }
  .setting-list {
    gap: 20px;
  }
  .setting-list__title {
    margin-bottom: 7px;
    font-size: 30px;
  }
  .setting-list__select {
    width: 100%;
    padding: 5px 10px;
  }
  .preview {
    width: 100%;
    height: 100%;
  }
  .top-text,
  .bottom-text {
    padding: 5px 10px;
  }
  .img{
    width: 100%;
    height: 100%;
  }
  .top-output {
    top: 100px;
    left: 150px;
    font-size: 20px;
  }
  .bottom-output {
    top: 450px;
    left: 150px;
    font-size: 20px;
  }
}